/* common styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.orange-text {
  color: #fd6e0a;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 15px 35px;
}
.btn:hover {
  background-color: #fd6e0a26;
  color: black;
}
.banner-details .btn-white {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  margin-left: 20px;
}
.margin-bottom {
  margin-bottom: 130px;
}
.max-width {
  max-width: 1140px;
}
/* header start */
.header {
  display: flex;
  background-color: #fff8f3;
  background-image: url("./images/developer.png");
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;

  /*
  background-size: cover; */
}
.dev-img {
  padding: 38px 70px 0px 23px;
}
.dev-other {
  padding-right: 38px;
}
nav {
  margin-right: 200px;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li > a:hover {
  background-color: #fd6e0a26;
}
nav li {
  list-style: none;
  margin-right: 50px;

  /* margin-right: 30px; */
}
#last-li {
  margin-right: 0px;
  /* margin-left: 10px; */
}
nav ul li > a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 25px;
}

.banner {
  /* padding-left: 25px; */
  /* margin-top: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.banner-details {
  max-width: 570px;
  margin-right: 150px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-desc {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.banner-img {
  width: 578px;
  /* height: 670px; */
  height: 676px;
}
/* header end */

/* about section start */
.about-section {
  border-radius: 10px;
  background-color: #fff8f3;
  text-align: center;
  margin: 0px auto 130px auto;
  padding: 90px 0px;
}
.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section-desc {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.info-level {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
.info-input {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
/* about section end */

/* what-i-do section start */
.what-i-do-section {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.what-i-do-section .section-desc {
  margin-bottom: 50px;
}
.cards {
  margin-top: 20px;
  display: flex;
}
.card {
  text-align: left;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  width: 201px;
  height: 313px;
  padding: 32px 33px;
  margin-right: 24px;
}
.last-card {
  margin-right: 0px;
}
.card > .info-input {
  color: #181818;
  margin-top: 28px;
  margin-bottom: 20px;
}
.card > .info-level {
  font-size: 16px;
  width: 201px;
}
/* what-i-do section end */

/* resume section start */
.resume-section {
  margin-bottom: 113px;
  margin-right: auto;
  margin-left: auto;
}
.resume-section > .section-title {
  margin-bottom: 100px;
  text-align: center;
}
.parts {
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}
.resume-part-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-part-title2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.resume-year {
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-desc {
  font-size: 16px;
  max-width: 510px;
}
.resume-small-part {
  /* padding-right: 47px; */
}
.hr-rull {
  width: 558px;
  height: 1px;
  background-color: #d1d1d1;
  border: none;
  margin: 30px 0px;
}
.btn-div {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
}
/* resume section end */

/* contact us section start */
.contact-us-section {
  background-color: #fff8f3;
  padding: 130px 0;
}
#contact {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 80px;
}
.contact-us-section .section-title {
  margin-bottom: 20px;
}
.media .info-input {
  /* max-width: 562px; */
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.media-icons {
  display: flex;
  gap: 24px;
}
.input-field {
  display: block;
  width: 450px;
  padding: 18px 30px;
  border: none;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 24px;
  font-size: 16px;
}
#text-area{
  resize: none;
}
.footer{
  padding: 50px;
  background-color: black;
  color: white;
  text-align: center;
}
/* contact us section end */
